{% assign animationLength = include.animationLength %}
<footer>
    {% if page.layout == 'work' %}
        {% for i in (1..12) %}
            <div class="tickertape js-footer-ticker" style="animation-duration: 3s" data-default="{{ page.default }}">
                <span class="js-footer-item">{{ page.default }}</span>
            </div>
        {% endfor %}
    {% elsif page.layout == 'info' %}
        {% for i in (1..40) %}
            <div class="tickertape js-footer-ticker" style="animation-duration: 1.5s">
                <span class="js-footer-item">{% for item in page.infoBuilder %}{% if forloop.first %}{{ item.desc }}{% endif %}{% endfor %}</span>
            </div>
        {% endfor %}
    {% elsif page.layout == 'project' %}
        {% for i in (1..12) %}
            <div class="tickertape js-footer-ticker" style="animation-duration: 1.5s">
                <span class="js-footer-item">
                    {% for item in page.projectContent %}
                        {% if forloop.first %}
                            {% if item.desc %}
                                {{ item.desc }}
                            {% else %}
                                {{ page.title }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}</span>
            </div>
        {% endfor %}
    {% else %}
        {% for i in (1..12) %}
            <div class="tickertape" style="animation-duration: {{ animationLength }}s">
                <span>Bespoke Website Design & Development</span>
            </div>
        {% endfor %}        
    {% endif %}
</footer>