body {
    text-align: center;
}    
strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
h1 {
    font-size: 64px;
}
header, nav, footer {
    font-family: $code-font;
    font-size: 12px;
    letter-spacing: 0.1em;
}