body {
    text-align: left;
}    
strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
h1 {
    font-size: 48px;
    font-family: $main-font;
    letter-spacing: -0.02em;
}
h2, h5 {
    font-family: $code-font;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
header, nav, footer {
    font-family: $code-font;
    font-size: 12px;
    letter-spacing: 0.05em;
}
p {
    font-size: 20px;
    line-height: 1.6;
}