---
---
// Imports
@import 'normalize';
@import 'reset';
@import 'fonts';
@import 'variables';
@import 'typography';
@import 'projects';
@import 'work';
html {
    cursor: none;
}
a {
    color: $text-color;
}
body {
    background-color: $text-color;
    color: $text-color;
    max-width: 100vw;
    font-family: $main-font;
    line-height: 1.3;
}
main {
    height: auto;
}
.hidden {
    position:absolute;
    width:0px;
    height:0px;
}

//Header and Footer
header, footer {
    position:fixed;
    width: 100vw;
    height: 48px;
    background-color: $text-color;
    color: $background-color;
    border-bottom: 1px solid $background-color;
    display: flex;
    justify-content: space-between;
    z-index:100;
    text-transform: uppercase;
    line-height: 1;
    cursor: auto;
    a:hover {
        font-style: italic;
    }
}
header {
    border-bottom: 1px solid $background-color;
}
header:after {
    content: '';
    background-color: $background-color;
    width:100%;
    height:1px;
    position:absolute;
    top:calc(50% - 1px);
    left:0;
}
.name, .coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.coming-soon {
    align-items: flex-end;
    justify-content: flex-end;
}
.name span, .coming-soon span {
    height: 24px;
    display: inline-block;
    padding: 1px 8px 0;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    border-bottom: 1px solid $text-color;
    &:last-child {
        border-bottom: 0px;
    }
}
.coming-soon span {
    color: $background-color;
    background-color: $text-color;
    border-bottom: 1px solid $background-color;
    border-left: 1px solid $background-color;
}
footer {
    top: auto;
    bottom: 0;
    border-top: 1px solid $background-color;
    height: 24px;
    overflow-x: hidden;
    flex-wrap: nowrap;
    border-bottom: 0px;
}
.tickertape {
    display: flex;
    animation: tickerTape 5s linear infinite;
    span {
        height: 24px;
        padding: 0 10px;
        white-space: nowrap;
        border-right: 1px solid $background-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
.mailto {
    background-color: $text-color;
    color: $background-color;
    a {
        color: $background-color;
    }
}
.mailto:hover {
    background-color: $background-color;
    color: $text-color;
    a {
        color:$text-color;
    }
}
@keyframes tickerTape {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform:translateX(-100%)
    }
}

.cursors {
    z-index:1;
    text-transform: uppercase;
    div {
        position:fixed;
        width: 16px;
        height: 16px;
        top:0;
        left:0;
        z-index: 1;

        mix-blend-mode: difference;
        
        pointer-events: none;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.click-text {
    position: fixed;
    transform: translate(-50%, -50%);
    color: $text-color;
    mix-blend-mode: difference;
    text-transform: uppercase;
}
.tablet-image-board {
    display:none;
    max-height: 100vh;
    height:100vh;
    overflow:hidden;
    position:relative;
}
.tablet-image {
    width: 20vw;
    top:0;
    left:0;
    position:absolute;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    transition: transform 3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cookiebanner {
    padding: 8px 16px !important;
    border-top: 1px solid $background-color;
    bottom: 24px !important;
    cursor: auto;
}
// canvas {
//     display:none;
// }

@media only screen and (max-width: 991px) { /* Mid Size */
    canvas, div.cursors {
        display:none;
    }
    .tablet-image-board {
        display: block;
    }
    .click-text {
        display:none;
    }
    .tablet-image {
        width: 25vw;
    }
}
@media only screen and (max-width: 780px) { /* Tablet */

}
@media only screen and (max-width: 600px) { /* Mobile */

    .tablet-image {
        width: 60vw;
    }
} 
@media only screen and (max-width: 420px) { /* Mobile Tiny */

}