<!doctype html>
<html>
<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png" id="icon">
  <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body class='click'>
  <div class="hidden-images">
    {% for i in (1..13) %}
      <img class="hidden js-img" src="/assets/images/intro/image{{ i }}.jpg" alt="">
    {% endfor %}
  </div>
  {% include cursors.html %}
  {% include header.html %}
  {% include footer.html %}
  <main role="main">
    {{ content }}
  </main>
  <canvas></canvas>
		
	<script src="/assets/scripts/canvas.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>