---
layout: default
---

<section class="enquiries">
    <div class="enquiries-left">
        {{ page.copy | markdownify }}
    </div>
    <div class="enquiries-right">
        <form id="enquiries" action="/enquiries?success" method="POST" name="enquries" netlify-honeypot="bot-field" data-netlify="true">
            <input type="hidden" name="bot-form">
            <input type="text" name="name" placeholder="{{ page.placeholder_name }}*" required />
            <input type="email" name="email" placeholder="{{ page.placeholder_email }}*" required />
            <textarea id="message" name="message" placeholder="{{ page.placeholder_body }}*" required></textarea>
            <button type="submit">{{ page.btn_text }}</button>
        </form>
        <div class="response">
            <p>{{ page.response }}</p>
        </div>
    </div>
</section>

<script src="/assets/scripts/enquiries.js"></script>