---
layout: default
---
{% assign pageTitle = page.title | slugify %}
<style>
    {{ pageTitle | prepend: "." | append: "-hero" }} {
        background-image: {{ page.bg_image | prepend: "url('" | append: "')" }}
    }
</style>
<section class="project-hero {{ pageTitle | append: "-hero" }}">
    <h1>
        <span class="work-item project-title">
            {{ page.code_title.code }}
        </span>
    </h1>
    <img src="{{ page.fg_image }}" alt="Foreground Image">
</section>
{% for item in page.project_content %}
        {% if item.type %}
        {% assign m_name = item.m_name | slugify %}
        <section class="project-section {{ item.type }} {{ item.size }} {{ m_name }}">
            {% include {{ item.type | append: '.html'}}
                text=item.section_text
                image=item.image
                alt=item.alt
                size=item.size
                video=item.video
                gallery=item.section_gallery
                image-l=item.image-l
                image-r=item.image-r
                alt-l=item.alt-l
                alt-r=item.alt-r
                m_name=m_name
            %}
        </section>
        {% endif %}
{% endfor %}
{%- comment -%}
{{ page.code_title.code }}
{{ page.title }}



{% for item in page.navigation_list %}
    {{ item.item_name }}
{% endfor %}
{%- endcomment -%}

{% include footer.html 
    navigation_list=page.navigation_list
    type='project'
%}