---
layout: default
---
<section class="work">
    <div class="work-left js-background-colour">
        {% for i in (1..3) %}
            {% for item in page.order %}
                {% assign projectName = item.project %}
                {% for project in site.projects %}
                    {% if projectName == project.title %}
                        {% unless project.index.coming_soon %}
                            <a class="work-link js-work-link active" 
                            data-name="{{ project.title | slugify }}" 
                            data-desc="{{ project.index.excerpt }}" 
                            data-colour="{{ project.colours.foreground }}"
                            href="{{ project.url }}">
                                <h1>{{ project.title }}</h1>
                            </a>
                        {% else %}
                            <div class="work-link coming-soon js-work-link active" 
                            data-name="{{ project.title | slugify }}" 
                            data-desc="{{ project.index.excerpt }}" 
                            data-colour="{{ project.colours.foreground }}">
                                <h1>{{ project.title }}</h1>
                                <h2 class="coming-soon-text">{{ project.index.coming_soon }}</h2>
                            </div>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="work-right">
        {% for item in page.order %}
            {% assign projectName = item.project %}
            {% for project in site.projects %}
                {% if projectName == project.title %}
                <style>#{{ project.title | slugify}} {background-image: url({{ project.index.background_image }})}</style>
                <div class="project-images-container js-project-container" id="{{ project.title | slugify }}">
                    {% for i in (1..2) %}
                    <div class="project-images-wrapper js-project-wrapper">
                        {% for item in project.index.images %}
                            <img src="{{ item.img }}" alt="{{ item.alt }}">
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</section>
<script src="/assets/scripts/work.js" defer></script>